<h1>Search for tweets and find similiars!</h1>
<div id="divOne">
    <form action="compcoll/results" method="POST" id="formOne">
        <input type="text" name="inputtext" placeholder="Ex: wrekage">
        <input type="submit" value="Search">
    </form>
</div>