<h1>Search for tweets and find similiars!</h1>
<div id="divOne">
    <form action="/compcoll/results" method="GET">
        <input type="text" name="inputtext" placeholder="Ex: hilary">
        <input type="submit" value="Search">
    </form>
</div>